/* General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #114357; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f29492,
    #114357
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f29492,
    #114357
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fafafa;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

/* Header */

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-family: "Rock Salt", sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
  letter-spacing: 2px;
  font-size: 3rem;
  color: #f5f5f5;
  cursor: default;
}

/* Form */

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #f5f5f5;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

input,
button:focus {
  outline: 0;
}

form button {
  color: #114357;
  background: #f5f5f5;
  cursor: pointer;
  transition: all 0.4s ease;
}

form button:hover {
  color: #f29492;
}

/* Selector */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  color: #114357;
  font-size: 1rem;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  background: #f5f5f5;
  font-family: "Open Sans", sans-serif;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.4s ease;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #f5f5f5;
  color: #114357;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.4s ease;
}

.select:hover::after {
  color: #f29492;
}

/* Todo container */

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #f5f5f5;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
  padding-left: 0.5rem;
}

.delete-btn,
.complete-btn {
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.4s ease;
}

.delete-btn {
  background-color: rgba(255, 25, 25, 0.95);
  color: #f5f5f5;
}

.delete-btn:hover {
  color: #114357;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.complete-btn {
  color: #114357;
}

.complete-btn:hover {
  color: #f29492;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.press-down {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.deleted {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 2.2rem;
    text-align: center;
    padding: 3rem;
  }

  form {
    display: table;
    text-align: center;
  }

  .todo-input {
    width: 70%;
  }

  select {
    padding: 0.5rem;
  }

  .select {
    width: 30%;
    margin: 0.5rem auto;
  }

  .select::after {
    padding: 0.5rem;
  }
}
